.clear {
    width: 25%;
    background: #1E1E1E;
    border-right: 1px solid;
    text-align: center;
    vertical-align: middle;
    position: relative;
    .clearIcon {
        font-size: 40px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}