@mixin params {
    position: absolute;
    font-size: 50px;
    color: white;
    right: 0;
    margin-right: 5px;
}

.screen {
    background: #1E1E1E;
    width: 75%;
    position: relative;
    z-index: 1;

    .screenText {
        @include params;
        top: 50%;
        transform: translate(0, -50%);
    }

    .sum {
        @include params;
        bottom: 0;
    }
}