.screen {
    background: #1E1E1E;
    width: 75%;
    position: relative;
    z-index: 1;
    .sum {
        font-size: 50px;
        color: white;
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: 5px;
        transform: translate(0, -50%);
    }
    .test {
        position: absolute;
        font-size: 50px;
        color: white;
        bottom: 0;
        right: 0;
        margin-right: 5px;
    }
}